/* .container{
  margin: 25px;
  border: 1px solid black;
  height: 300px;
  width: 250px;
  text-align: center;
  margin-left: 25rem;
  background-color: pink;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
button {
  margin: 5px;
  margin-top: 8rem;
  padding: 12px;
  background-color: black;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: white;

}

.container p {
  margin-top: 2rem;
  font-weight: 600;
} */