.App {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 8rem;
 
}


.container{
  height: 300px;
  width: auto;
  border: 1px solid black;
  padding: 25px;
  background-color: pink;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.container button{
  background-color: black;
  color: aliceblue;
  padding: 12px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}